html, body, #root {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x:hidden;
}


/*  -----------------------------------------
            SCROLL BAR GENERAL STYLE
    -------------------------------------- */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #8A8;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #696;
}

/*  -----------------------------------------
            General Container Style
    -------------------------------------- */

.generalContainer1 {
    display: flex;
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .generalContainer2 {
        max-width: 1200px;
        display: flex;
        width: 100%;

        .breadcrumb {
            font-size: 16px;
            font-weight: 500;
            margin-top: 20px;
            margin-left: 20px;
        }

        .errorSpan {
            color: $red;
            font-style: oblique;
            margin-top: 8px;
        }
    }
}



/*  -----------------------------------------
        Remove outline focus style
    -------------------------------------- */

*:focus {
    outline: none;
}

/*  -----------------------------------------
               List style
    -------------------------------------- */
ul {
    li{
        list-style-type:none;
    }
}



/*  -----------------------------------------
               Link style
    -------------------------------------- */
a {
    text-decoration: none;
}

/*  -----------------------------------------
        Button pointer change
    -------------------------------------- */

button, input {
    cursor: pointer;
}