$white: rgba(255,255,255,1);
$darkGreen: rgba(0,50,50,1);
$darkGreen2: rgba(0,70,70,1);
$lightGreen: rgba(66,170,145,1);
$lightGreenHover: rgba(125,249,195,1);
$lightGreenActive: rgba(55,130,120,1);
$black: rgba(0,0,0,1);
$red: rgba(255,40,40,1);
$grey: rgba(210,210,210,1);
$greyHover: rgb(160, 160, 160);
$darkGrey: rgba(34, 34, 34,1);
$lightBlue: rgba(8, 149, 214,1);
$lightBlue2: rgba(161, 211, 226,1);

//media
$smallMobile : 320px;
$mobile: 480px;
$tablet: 768px;
$bigTablet: 900px;
$desktop: 1024px;
$superBig: 1200px;

//functions
@function colorOpacity ( $color, $opacity) {
    @return (rgba($color , $opacity))
    
}