@import '../../sass/variables';

.applicationInfoContainer {
    width: 100%;
    height : auto;
    background: linear-gradient(to bottom, $darkGreen 0% , $darkGreen 60% , $lightGreen 60% ,$lightGreen 100%);
    margin-top: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .h2{
        margin-top: 10px;
    }
    .paragraph {
        font-size: 10pt;
        margin-top: 5px;
    }

    .imgContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top:20px ;

        .imgMobile {
            width: 200px;
            height: 333px;  
            margin: 0 20px;  
        }
    }

    .btn {
        width: 200px;
        height: 30px;
        border-radius: 30px;
        border: none;
        background-color: $darkGreen;
        color: $white;
    }
    .btn:hover {
        background-color: $lightGreenHover;
        color: $black;
    }

    .h6 {
        margin-top: 10px;
    }
    .storeImg{
        margin-top: 10px;
        .aImg {
        width: 150px;
        height: 40px;
        }

        .gImg {
            width: 120px;
            height: 39px;
        }

    }

}