@import '../../sass/variables';

.headerContainer1 {
    background-color: $darkGreen;
    height: 80px;
    color: $white;

    .headerContainer2 {
        align-items: center;

        h1 {
            flex: 1;
            margin-left: 20px;
        }
    }
}